<!-- <div *ngIf="!logged" class="container" style="display: grid;"> -->
<div *ngIf="!logged" class="container" [ngStyle]="{'display': logged ? 'none' : ''}">
    <h2>{{title}}</h2>
    <form  [formGroup]="form" (ngSubmit)="submitForm()">
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" id="username" name="username" formControlName="username" required>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" name="password"  formControlName="password" required>
      </div>
      <button type="submit">{{title}}</button>
      <div *ngIf="getVal(form.errors)">
      <!-- <div *ngIf="form.errors!.unauthenticated"> -->
        <!--  -->
        {{error}}
       </div>
       <hr>
       <div class="ui-text"><p> Press the button to {{title === 'Register' ? 'Login' : 'Register'}} </p></div>
    </form>
  </div>