<app-header></app-header>
<div class="container">
    <h2>Register</h2>
    <form  [formGroup]="form" (ngSubmit)="submitForm()">
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" id="username" name="username" formControlName="username" required>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" name="password"  formControlName="password" required>
      </div>
      <button type="submit">Register</button>
    </form>
  </div>
<app-footer></app-footer>