<mat-dialog-content>
    <p>
    </p>
    <mat-form-field>
        <mat-label>
        Please insert the image fitting for the manga you want to start selling
        </mat-label>
        <input matInput [(ngModel)]="data">
    </mat-form-field>`
</mat-dialog-content>

<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">No Thanks</button>
    <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Ok</button>
</div>