<footer class="order-management-footer">
    <div class="container">
      <p>Tutti i diritti riservati &copy; 2023</p>
      <nav>
        <ul>
          <li><a href="#">Termini e condizioni</a></li>
          <li><a href="#">Privacy Policy</a></li>
          <li><a href="#">Contatti</a></li>
        </ul>
      </nav>
    </div>
  </footer>
  