<header class="order-management-header">
    <div class="logo"><a href="#"> Home </a></div>
    <nav>
      <ul>
        <li *ngIf="logged"><a href="customers">Clienti</a></li>
        <li *ngIf="logged"><a href="manga">Manga</a></li>
        <li class="right" *ngIf="logged"> {{userName}}</li>
        <!-- <li *ngIf="!logged"><a href="register">Registrazione</a></li> -->
        <!-- <button *ngIf="!logged" (click)="switchLogReg()">{{interaction}}</button> -->
        <button  class="right" *ngIf="logged" (click)="logout()" type="submit"> Log out </button>
      </ul>
    </nav>
  </header>