@media screen and (max-width: 1580px) {
/************************************ HOME STUFF  *************************************/
.home {
    background-color: #f9f9f9;
    padding: 50px 0;
    text-align: center;
  }
  
  .container {
    max-width: 960px;
    margin: 0 auto;
  }
  
  h1 {
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  p {
    font-size: 18px;
    margin-bottom: 30px;
  }
  
  .cta-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 12px 24px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .cta-button:hover {
    background-color: #0069d9;
  }

  .container-body{
    display: grid;
  }
  .login{
    display: flex;
  }
/************************************ SLIDE SHOW STUFF *************************************/

.container-images {
  /* display: flex;
  flex-direction: row;
  width: 75%; */
}

:host {
  flex: 1;
}

.higher-carousel{
  /* height: 250px; */
  /* bottom: 450px; */
  margin: 100px; 
}


/* .higher-carousel > .carousel > button{
  /* height: 250px; */
  /* bottom: 450px; 
} */

.carousel-container {
display: inline-block; 
flex-grow: grow;
margin-left: auto;
margin-right: auto;
}

.carousel {
  position: relative;
  height: 400px;
  width: 280px;
  /* overflow: hidden; */
  border-radius: 0.5em;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 150ms cubic-bezier(0.25, 0.46, 0.45, 0.84);
  border-radius: 0.5em;
}

.slide:hover {
  transform: scale(1.025);
}
/* arrows */
.control {
  border: none;
  background-color: transparent;
  /* background-color: lightblue; */
  /* remove blue outline border, but make sure they are still focussable for accessibility */
  outline: 0; 
  position: absolute;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0.5em;
  color: lightblue;
  font-weight: bold;
  font-size: 3em;
  user-select: none;
  height: 100%;
  opacity: 80%;
  /* opacity effect on hover */
  transition: opacity 150ms cubic-bezier(0.25, 0.46, 0.45, 0.84); 

  &:hover, &:focus {
    opacity: 1;
  }

  /* Position the buttons */
  &.next {
    right: 0;
  }
  &.prev {
    left: 0;
  }
}

/* style the arrows */
.arrow {
  display: block;
  border-left: 0.1em solid white;
  border-bottom: 0.1em solid white;
  width: 0.5em;
  height: 0.5em;

  &.left {
    transform: rotate(45deg);
  }
  &.right {
    transform: rotate(225deg);
  }
}
}




@media screen and (min-width: 1580px) {
/************************************ HOME STUFF  *************************************/
.home {
    background-color: #f9f9f9;
    padding: 50px 0;
    text-align: center;
  }
  
  .container {
    max-width: 960px;
    margin: 0 auto;
  }
  
  h1 {
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  p {
    font-size: 18px;
    margin-bottom: 30px;
  }
  
  .cta-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 12px 24px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .cta-button:hover {
    background-color: #0069d9;
  }

  .container-body{
    display: flex;
  }

  .login{
    padding-top: 10%;
    padding-right: 10%;
  }
/************************************ SLIDE SHOW STUFF *************************************/

/* .container-images {
  display: flex;
  flex-direction: row;
} */

:host {
  flex: 1;
}

.higher-carousel{
  /* height: 250px; */
  /* bottom: 450px; */
  margin: 100px; 
}


/* .higher-carousel > .carousel > button{
  /* height: 250px; */
  /* bottom: 450px; 
} */

.carousel-container {
display: inline-block; 
flex-grow: grow;
margin-left: auto;
margin-right: auto;
}

.carousel {
  position: relative;
  height: 400px;
  width: 280px;
  /* overflow: hidden; */
  border-radius: 0.5em;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 150ms cubic-bezier(0.25, 0.46, 0.45, 0.84);
  border-radius: 0.5em;
}

.slide:hover {
  transform: scale(1.025);
}
/* arrows */
.control {
  border: none;
  background-color: transparent;
  /* background-color: lightblue; */
  /* remove blue outline border, but make sure they are still focussable for accessibility */
  outline: 0; 
  position: absolute;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0.5em;
  color: lightblue;
  font-weight: bold;
  font-size: 3em;
  user-select: none;
  height: 100%;
  opacity: 80%;
  /* opacity effect on hover */
  transition: opacity 150ms cubic-bezier(0.25, 0.46, 0.45, 0.84); 

  &:hover, &:focus {
    opacity: 1;
  }

  /* Position the buttons */
  &.next {
    right: 0;
  }
  &.prev {
    left: 0;
  }
}

/* style the arrows */
.arrow {
  display: block;
  border-left: 0.1em solid white;
  border-bottom: 0.1em solid white;
  width: 0.5em;
  height: 0.5em;

  &.left {
    transform: rotate(45deg);
  }
  &.right {
    transform: rotate(225deg);
  }
}
}