<app-header [userName]="userName"></app-header>
<!-- header stuff  -->

<section class="home">
  <div class="container">
    <h1>Welcome to comic Box</h1>
    <p>A place to keep tidy your customer boxes and requests</p>
  </div>
</section>

<div class="container-body">
    <div class="carousel-container">
      <div class="higher-carousel">
        <div class="carousel">
          <div *ngFor="let image of mangasImages; let i = index">
            <img *ngIf="i === currentSlide[0]" [src]="image" alt="Slideshow Image" class="slide" @slideAnimation>
          </div>
        </div>
      </div>
    </div>

    <div class="carousel-container">
      <div class="carousel">
        <div *ngFor="let image of mangasImages; let i = index">
          <img *ngIf="i === currentSlide[1]" [src]="image" alt="Slideshow Image" class="slide" @slideAnimation>
        </div>
      </div>
    </div>

    <div class="carousel-container">
      <div class="higher-carousel">
        <div class="carousel">
          <div *ngFor="let image of mangasImages; let i = index">
            <img *ngIf="i === currentSlide[2]" [src]="image" alt="Slideshow Image" class="slide" @slideAnimation>
          </div>

        </div>
      </div>
    </div>

  <app-login class="login" (user)="onLoginEmitter($event)"> </app-login>
</div>
<app-footer></app-footer>