<app-header> </app-header>

<section class="cust-sect">
    <div class="customer-section">
        <div class="profile-photo">
            <img src="{{customer.image}}" alt="customer-profile">
        </div>
        <div class="form-container">
            <form id="ang" [formGroup]="customerForm" (ngSubmit)="onSubmit()">
                <div class="form-iterator "
                    *ngFor="let item of customer | keyvalue : customerView ; index as i; ">
                    <div class="form-g" *ngIf="!customFields.includes(item.key)">
                        <div class="form-group ">
                            <label class="is-even-{{i % 2}}" for={{item.key}}>{{item.key.charAt(0).toUpperCase() + item.key.slice(1)}}</label>
                            <input class="is-even-{{i % 2}}" type="text" name="{{item.key}}" id="" value="{{item.value}}"
                                formControlName="{{item.key}}">
                        </div>
                    </div>
                </div>
                <button form="ang" class="btn btn-primary" type="submit">Submit</button>
            </form>
        </div>
    </div>
</section>
<hr />

<section>
    <div class="emptyBox" *ngIf="box.customerProducts.length === 0">
        <h2>
            Such an empty view......
        </h2>
    </div>
    <div class="customer-prod" *ngFor="let prod of box.customerProducts">
        <div class="box-product">
            <img class="image-photo" src="{{prod.product.image}}" alt="">
            <div class="product-descr">
                <h2>
                    {{prod.product.title}}
                </h2>
                <p>
                    {{prod.currentID}}/{{prod.latest}}
                </p>
            </div>
            <div class="buttons-container">
                <button class="product-buttons" type="button" (click)="advancedVolume(box._id,prod.product.title)"> Plus
                </button>
                <button class="product-buttons" type="button"
                    (click)="deleteVolume(box._id,prod.product.title, prod.currentID)"> Delete</button>
            </div>
            <!-- <div class="product-buttons"> -->
            <!-- </div> -->
        </div>
        <hr />
    </div>
</section>
<app-box-io [boxId]="box._id" (event)="onAddiction($event)"></app-box-io>
<app-footer></app-footer>