@media screen and (min-width: 1175px) {
    /*************** FORM USER  ****************/

    .user-form {
        /* max-width: 400px; */
        /* margin: 0 auto; */
    }

    .form-group {
        /* margin-bottom: 20px; */
    }


    .form-iterator {
        /* margin: 3% 30% 0; */
    }

    .customer-section {
        /* height: 50%; */
        display: flex;
    }

    .profile-photo {
        /* height: 50%; */
    }

    .profile-photo>img {
        width: 100%;
        height: 50%;
    }

    #ang {
        /* padding-bottom: 30%; */
        /* height: 50%; */
        /* display: flex;
        flex-direction: column;
        flex-wrap: wrap; */
    }

    hr {
        border: 0;
        border-top: 2px solid grey;
    }

    .is-even-1 {
        display: block;
        float: left;
        line-height: 30px;
        width: 301px;
        height: 30px;
        /* background-color: #f00; */
        border: 10;
        border-radius: 35px;
    }

    .is-even-0 {
        position: relative;
        /* top: -30px; */
        display: block;
        float: right;
        line-height: 30px;
        width: 299px;
        height: 30px;
        /* background-color: #ff0; */
        border: 10;
        border-radius: 35px;
    }

    label {
        /* display: block; */
        margin-left: 5%;
        margin-bottom: 5px;
    }

    input[type="text"] {
        padding: 10px;
        font-size: 16px;
    }

    .btn {
        display: inline-block;
        padding: 3% 3%;
        background-color: #4CAF50;
        color: #fff;
        text-decoration: none;
        border-radius: 35px;
        margin-left: 67%;
        width: 30%;
        height: 10%;
    }

    .customer-section {
        /* display: flex; */
        /* flex-direction: row; */
        /* flex-direction: column; */
        /* height: 20%; */
    }

    .customer-section>* {
        margin: 2% 3% 0;
    }

    /*************** BOX PRODUCT ****************/
    .box-product {
        display: flex;
        align-items: end;
        /* flex-it: column; */
    }

    .buttons-container {
        /* margin-left: auto; */
        display: flex;
        justify-content: flex-end;
        width: 100%;
        margin: 0 1% 1%;
    }

    .product-descr {
        margin-bottom: auto;
        padding: 1%;
    }

    .product-buttons {
        display: inline-block;
        padding: 10px 20px;
        background-color: #4CAF50;
        color: #fff;
        text-decoration: none;
        /* border-radius: 4px; */
        border-radius: 35px;
        width: 100px;
        margin: 0 0.5% 0;
    }

    img {
        width: 100%;
        height: auto;
    }

    .image-photo {
        width: 120px;
        min-height: 120px;
        max-height: auto;
        float: left;
        margin: 0%;
        padding: 0%;
    }
}

@media screen and (max-width: 1175px) {

    /*************** FORM USER  ****************/

    .user-form {
        max-width: 400px;
        margin: 0 auto;
    }

    .form-group {
        margin-bottom: 20px;
    }


    .form-iterator {
        margin: 0 15% 0;

    }

    .custumer-section {
        height: 50%;
    }

    #ang {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
    }

    hr {
        border: 0;
        border-top: 2px solid grey;
    }

    label {
        display: block;
        margin-bottom: 5px;
    }

    input[type="text"] {
        /* width: 100%; */
        border-radius: 35px;
        padding: 10px;
        font-size: 16px;
    }

    .btn {
        display: inline-block;
        padding: 3% 3%;
        background-color: #4CAF50;
        color: #fff;
        text-decoration: none;
        width: 20%;
        height: 10%;
        border-radius: 35px;
        /* margin-left: 30%; */
    }

    .customer-section {
        /* display: flex; */
        align-items: center;
        flex-direction: row;
        /* height: 20%; */
    }

    .customer-section>* {
        margin: 2% 3% 0;
    }

    /*************** BOX PRODUCT ****************/
    .box-product {
        display: flex;
        align-items: end;
        /* flex-it: column; */
    }

    .buttons-container {
        /* margin-left: auto; */
        display: flex;
        justify-content: flex-end;
        width: 100%;
        /* margin: 0 1% 1%; */
    }

    .product-descr {
        margin-bottom: auto;
        padding: 1%;

    }

    .product-buttons {
        display: inline-block;
        padding: 10px 20px;
        background-color: #4CAF50;
        color: #fff;
        text-decoration: none;
        /* border-radius: 4px; */
        border-radius: 35px;
        width: 100px;
        margin: 0 0.5% 0;
    }

    img {
        width: 100%;
        height: auto;
    }

    .image-photo {
        width: 60px;
        min-height: 60px;
        max-height: auto;
        float: left;
        margin: 0%;
        padding: 0%;
        align-self: center;
    }
}