<mat-divider></mat-divider>
<section>
  <div class="example-button-row">
    <div class="example-flex-container">
      <div class="example-button-container">
        <button mat-fab color="primary" aria-label="Example icon button with a delete icon" (click)="genericClick()">
          <mat-icon>keyboard_command_key</mat-icon>
        </button>
      </div>
      <div *ngIf="editMode && displayAdd" class="example-button-container" (click)="addEntity()">
        <button mat-fab color="accent" aria-label="Example icon button with a bookmark icon">
          <mat-icon>{{addIcon}}</mat-icon>
        </button>
      </div>
      <form *ngIf="editMode" class="example-form">
        <mat-form-field class="example-full-width">
          <mat-label>{{label}}</mat-label>
          <input matInput aria-label="State" [matAutocomplete]="auto" [formControl]="stateCtrl">
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let state of filteredStates | async" [value]="state.name">
              <img alt="" class="example-option-img" [src]="state.flag" height="25">
              <span>{{state.name}}</span> |
              <small>{{subTitleBar}}: {{state.littleTitle}}</small>
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>

        <br>

        <!-- <mat-slide-toggle
          [checked]="stateCtrl.disabled"
          (change)="stateCtrl.disabled ? stateCtrl.enable() : stateCtrl.disable()">
          Disable Input?
        </mat-slide-toggle> -->
      </form>
      <button class="button-arrow" *ngIf="editMode && displayDetail" mat-mini-fab matTooltip="Primary" color="primary"
        aria-label="Example mini fab with a heart icon" (click)="openDetail()">
        <mat-icon>arrow_forward</mat-icon>
      </button>
    </div>
    <!-- <div class="example-button-container">
        <button mat-fab color="warn" aria-label="Example icon button with a home icon">
          <mat-icon>home</mat-icon>
        </button>
      </div>
      <div class="example-button-container">
        <button mat-fab disabled aria-label="Example icon button with a heart icon">
          <mat-icon>favorite</mat-icon>
        </button>
      </div> -->
  </div>
</section>
<mat-divider></mat-divider>
