<app-header> </app-header>
    <app-manga-io (buttonClickEmitter)="onButtonClick($event)"></app-manga-io>
<div class="card-grid">
    <div *ngFor="let manga of mangas">
        <div class="card">
            <img src={{manga.image}} alt="Card Image">
            <div class="card-content">
                <h2 class="card-title">{{manga.title}}</h2>
                <p class="card-description">{{manga.description}}</p>
                <a (click)="openDialog(manga.title)" class="card-link">See detail</a>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>