<mat-dialog-content>
    <p>
        Give me some customer m8...
    </p>

    <!-- <mat-form-field>
        <mat-label>Give me some name...</mat-label>
        <input required matInput [(ngModel)]="data.cf">
    </mat-form-field>`


    <mat-form-field>
        <mat-label>Give me some name...</mat-label>
        <input required matInput [(ngModel)]="data.name">
    </mat-form-field>`

    <mat-form-field>
        <mat-label>Give me some surnname...</mat-label>
        <input required matInput [(ngModel)]="data.surname">
    </mat-form-field>`

    <mat-form-field>
        <mat-label>Give me some mail...</mat-label>
        <input required matInput [(ngModel)]="data.email">
    </mat-form-field>` -->

    <form [formGroup]="customerForm" (ngSubmit)="onSubmit()">
        <div class="form-iterator" *ngFor="let item of customer | keyvalue">
            <mat-form-field>
                <mat-label>Customer {{item.key}}</mat-label>
                <input required matInput name="{{item.key}}" value="{{item.value}}" formControlName="{{item.key}}">
                <mat-error *ngIf="customerForm.invalid">{{getErrorMessage(item.key)}}</mat-error>
            </mat-form-field>
        </div>
    </form>

</mat-dialog-content>

<div mat-dialog-actions>
    <!-- <button mat-button (click)="onNoClick()">No Thanks</button> -->
    <!-- <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Ok</button> -->
    <button mat-button [ngStyle]="{'display' : customerForm.status != 'INVALID' ? '' : 'none'}" [mat-dialog-close]="customerForm.value" cdkFocusInitial (click)="onSubmit()">Submit</button>
</div>