<style>
.container mat-form-field + mat-form-field {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.form-label {
  flex-basis: 150px; /* Set the desired width of the label */
  flex-shrink: 0; /* Prevent label from shrinking */
  padding-right: 10px;
  text-align: right;
}

input {
  flex: 1; /* Fill remaining width */
}
.mat-mdc-dialog-content{
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
</style>
<div class="container">
<mat-dialog-content >
    <mat-form-field class="line-form">
        <mat-label class="form-label" >
            Please insert the image 
            fitting the manga you want to start selling
        </mat-label>
        <input matInput [(ngModel)]="data" [formControl]="image" required>
        <mat-error *ngIf="image.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>
</mat-dialog-content>
</div>

<div mat-dialog-actions>
    <!-- <button mat-button (click)="onNoClick()">No Thanks</button> -->
    <button mat-button [mat-dialog-close]="image.invalid ? '' : data" cdkFocusInitial [ngStyle]="{'display': image.invalid ? 'none' : ''}"> Ok</button>
</div>