<h2 mat-dialog-title>{{data.res.title}}</h2>
<mat-dialog-content class="mat-typography">
  <img src="{{data.res.image}}" alt="manga-image">
  <h2>Description</h2>
  <p>
    {{data.res.description}}
  </p>

  <mat-divider> </mat-divider>
  <h2>Genres</h2>
    <ul *ngFor="let genre of data.res.genres">
        <li>
            {{genre}}
        </li>
    </ul>
  <mat-divider> </mat-divider>

  <h2>Status </h2>
  <h3> {{data.res.status}} </h3>

  <mat-divider> </mat-divider>
  <h2> Authors </h2>
  <ul *ngFor="let author of data.res.authors">
    <li>
      {{author}}
    </li>
  </ul>
  <mat-divider> </mat-divider>

  <h2> Volumes </h2>
  <ul *ngFor="let volume of data.res.volumes.slice(0, 10)">
    <li>
        <p> Number  {{volume.number}}</p>
        <p> On {{(volume.released)}} </p>
    </li>
  </ul>
</mat-dialog-content>
<mat-dialog-actions align="end" *ngIf="!showOnlyMangaInfo">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Add to user</button>
</mat-dialog-actions>
