<app-header></app-header>

<app-customer-io (buttonClickEmitter)="onButtonClick($event)"></app-customer-io>
<div class="row-cards">
    <!-- <app-button-io (buttonClickEmitter)="onButtonClick($event)" > -->
    <div class="card">
        <div *ngFor="let customer of customers">
            <img src={{customer.image}} alt="Image 3">
            <div class="details">
                <h3>{{customer.name}}</h3>
                <!-- <button>  Open Box</button> -->
                <button (click)="openBox(customer.CF)">Checl Box</button>
            </div>
        </div>
    </div>


</div>
<app-footer></app-footer>