.row-cards {
  display: flex;
}

.card {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    flex-wrap: wrap;
    justify-content: baseline;
   /* justify-content: space-between; */
  }
  
  .card > * {
    margin-top: 3%;
  }
  .card img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-right: 10px;
  }
  
  .card .details {
    flex-grow: 1;
  }
  
  .card .details h3 {
    margin: 0;
    font-size: 18px;
  }
  
  .details{
    align-self: center;
  }
  .card .details button {
    padding: 8px 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin-top: 10px;
    cursor: pointer;
  }